@{
    Layout = "_Layout";
}

@model IEnumerable<PhotoScape.Models.Category>
@{
    ViewBag.Title = "Store";
}

<h3>Browse Categories</h3>

<p>
    Select from @Model.Count() Categories: </p>
<ul>
    @foreach (var category in Model)
    {
        <li>@Html.ActionLink(category.Name, "Browse", new {category = category.Name})</li>
    }
</ul>
