* {
    margin: 0px;
    padding: 0px;
}

.wrapper > div {
    display: flex;
    flex-wrap: wrap;
    color: #444444;
}

img {
    flex: 25%;
    max-width: 25%;
    border-radius: 5px;
    margin-top: 5px;
}

.header {
    padding: 10px 0px 10px 0px;
    
}

@media screen and (max-width: 1200px) {
    img {
        flex: 40%;
        max-width: 40%;
    }
}

@media screen and (max-width: 800px) {
    img {
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    img {
        flex: 100%;
        max-width: 100%;
    }
}