@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This app is designed to allow users to browse the gallery of images and make purchases. The users are able to browse the list of images based on the category they choose, see the price, click the 'Buy' button, add and remove the items from the cart, checkout, and complete the purchase. </p>
